<div class="bottom-right">
    <img class="welcome-img" src="assets/images/SGLSodimac_Corona5.png"/>
</div>
<div class="page-layout w-100-p" fusePerfectScrollbar>
    <div fxLayout="row" fxLayoutAlign="center center">
        <h1 class="my-12" style="font-weight: bold">Bienvenido a SGL</h1>
    </div>
    <div class="px-40">
        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="15px" fxLayoutAlign="">
            <!--First card-->
            <mat-card class="w-100-p primary-card">
                <app-card-access [img]="'assets/images/application.svg'" [icon]="'widgets'" [title]="'Aplicaciones'"
                                 [items]="items" [timeAnimate]="time + (aumento * 0)"></app-card-access>
            </mat-card >
            <!--Second card-->
            <mat-card class="w-100-p primary-card">
                <app-card-access [img]="'assets/images/file-upload.svg'" [icon]="'cloud_upload'"
                                 [title]="'Cargues Masivos'" [items]="items3"
                                 [timeAnimate]="time + (aumento * 2)"></app-card-access>
            </mat-card>

            <!--Third card-->
            <mat-card class="w-100-p primary-card">
                <app-card-access [img]="'assets/images/seo-report.svg'" [icon]="'assignment_returned'"
                                 [title]="'Reportes'" [items]="items2"
                                 [timeAnimate]="time + (aumento * 1)"></app-card-access>
            </mat-card>
        </div>
    </div>
</div>
<div class="author">
    Iconos diseñados por <a href="https://www.flaticon.es/autores/freepik" title="Freepik">Freepik</a> from <a
    href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a>
</div>
