<ng-container *ngIf="!item.hidden">

    <div class="group-title" [ngClass]="item.classes">
        <mat-icon class="hint-text">{{item.icon}}</mat-icon>
        <span class="hint-text" [translate]="item.translate">
            {{item.title}}
        </span>
    </div>

    <div class="group-items">
        <ng-container *ngFor="let item of item.children">
            <fuse-nav-extensible-group *ngIf="item.type=='group'" [item]="item"></fuse-nav-extensible-group>
            <fuse-nav-extensible-collapsable *ngIf="item.type=='collapsable'" [item]="item">
            </fuse-nav-extensible-collapsable>
            <fuse-nav-extensible-item *ngIf="item.type=='item'" [item]="item"></fuse-nav-extensible-item>
        </ng-container>

    </div>

</ng-container>