:host {
    .group-title {
        &.active {
            background-color: #e0e0e0 !important;
            color: #1976d2;
        }
    }
    
    &:nth-child(1) {
        padding-top: 30px;
        border-top: 1px solid rgba(100, 100, 100, 0.1);
    }
}
